p {
    font-size: 25px;
    text-align: center;
    text-decoration: black;
    text-transform: capitalize;
    border: 6px solid darkred;    
    border-radius: 0%
    
    
        

}

body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

img {
    width: 300px;
    height: 300px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;

}


.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    color: darkorange;
    background-color: black;
    justify-content: center;
    align-items: flex-end;
    
}

.project-1 {
    flex-basis: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}


.project-1 > div {
    width: 500px;
    text-align: center;
    display: inline-block;
    

}
.project-1 img {
    width: 500px;
}

img:hover {
    box-shadow: 2px 2px 2px 1px orange;

}

.project {
    justify-content: center;
    font-size: 20px;
    margin: 10px;
    text-decoration: orange;

}

.flex-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}

h1{
    text-align: center;
    color: black;
    text-decoration: underline double;
    margin: 50px;
}

h2 {
    text-align: center;
}

h3{
    color: black;
    max-width: 20%;
    margin-left: 25%;
}

.contact {
    margin-left: 250px;
    border: 14px solid black;
    max-width: 35%;
    font-size: 20px;
    border-style: inset;
    background-color: pink;
    flex-direction: column; 
    flex-wrap: wrap;
    margin-top: 50px;
    
    
    

}
.contact:hover {
    box-shadow: 4px 4px 2px 1px blue;
    
}

ul{
    font-style: italic;
    font-size: 20px;
    flex-wrap: wrap;
    flex-direction:row;
    
}


.job-history{
    background-color: yellow;
    color: black;
    max-width: 50%;
    border: 14px solid red;
    margin-top: 60px;
    font-size: 40px;
    margin-left: 40%;
    margin-bottom: 60px;
   

}

.job-history:hover{
   box-shadow: 5px 5px 15px 5px black;


}

#Zach_picture {
    box-align:center;
    margin-left: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 14px solid lightseagreen;
}

#Zach_picture:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 15px 2px navy;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

nav a {
    font-size: 20px;
     color: chocolate;
     padding: 5px 10px;

}